streamlit
pandas
streamlit-webrtc
SpeechRecognition
gTTS
librosa
transformers
torch
pyaudio
scipy
torchvision
torchaudio
# Pinning library versions for compatibility with Python 3.10
numpy==1.23.5
opencv-python-headless==4.8.0.76
tensorflow==2.15.0
tf-keras==2.15.0
deepface==0.0.79
